 /****** Navbar Styling Beginning *******/
.navbar{
    background-color: #353942;
}

.nav-link {
    color: white !important;
    }

  .navbar-brand{
    color: white !important;
  } 
    /****** Navbar Styling End *******/
  
  /****** Jumbotron Styling Beginning *******/
    .jumbotron {
        background-image: url("images/Jumbobg.jpg");
        background-size: cover;
        height: 70vh;
      }
     

      .fp__bottom {
        background-image: linear-gradient(
          to right,
          #641c4b,
          #882b55,
          #db466f,
          #ed5864,
          #f96e59
        );
        height: 130px;
        margin-top: -35px !important;
      }
      /****** Jumbotron Styling End *******/
  
 /******* Courses Details Styling Beginning ***** */
.courses__card {
  background-color: rgb(219, 219, 219);
}
.card {
  border: none;
}
.card:hover {
  box-shadow: 10px 10px 12px 4px #807880;
}
/********* Courses Details Styling End *********** */

/********* Footer Styling End ************** */
.footer ul li {
  list-style: none;
}
.coypridht {
  background-color: black;
}
/************ Footer Styling End *************/

  